*~
src/*~
src/*.s
test/unit/src/*~
build/*
test/benchmark/test_summary.*
test/unit/build/*.o
test/unit/build/*.mod
test/unit/dist/test_all*
dist/waiwera*
test/unit/src/test_all.F90
doc/ford/*
!doc/ford/readme
utils/*.pyc