
export PETSC_DIR={{ petsc_path }}
export PETSC_ARCH=arch-linux2-c-debug
export LD_LIBRARY_PATH={{ ld_library_path }}:$LD_LIBRARY_PATH
export PYTHONPATH={{ util_path }}
export PATH=$HOME/bin:$HOME/.local/bin:{{ bin_path }}:{{dist_path}}:$PATH
export PKG_CONFIG_PATH={{ pkgconfig_path }}:$PKG_CONFIG_PATH:
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export LC_TYPE=en_US.UTF-8
