name: Unit and benchmark tests

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --user ansible
        pip install --user waiwera-credo
    - name: Get PETSc version
      id: get-petsc-version
      run: |
        echo "version=$(grep petsc_version install/ansible/group_vars/all.yml | awk '{print $NF}')" >> "$GITHUB_OUTPUT"
      shell: bash

    - name: Cache PETSc
      uses: actions/cache@v4
      with:
        path: |
          external/PETSc
          ~/lib/pkgconfig/PETSc.pc
        key: ${{ runner.os }}-PETSc-${{ steps.get-petsc-version.outputs.version }}

    - name: Install Waiwera
      run: ansible-playbook ansible/install_local.yml
      working-directory: ./install

    - name: Set path
      run: |
        echo "${HOME}/.local/bin" >> $GITHUB_PATH
        echo "${HOME}/bin" >> $GITHUB_PATH

    - name: Unit tests
      run: python unit_tests.py

    - name: Benchmark tests
      run: python benchmark_tests.py -np 2
